Package: me.nepeta.axon
Name: Axon
Depends: mobilesubstrate, ws.hbang.common (>= 1.11), firmware (>= 11.0)
Conflicts: com.spark.hyperion, io.ominousness.stackxi
Version: 0.1.1
Architecture: iphoneos-arm
Description: Priority Hub for iOS 11 and 12
Maintainer: Nepeta
Author: Nepeta
Section: Tweaks
