Package: me.nepeta.axon
Name: Axon
Depends: mobilesubstrate, ws.hbang.common (>= 1.11), firmware (>= 11.0)
Conflicts: com.spark.hyperion, io.ominousness.stackxi, com.thomasfinch.priorityhub, com.ladshyam.dots, com.ioscreatix.intelixbeta, com.ioscreatix.intelix, com.spiritoflogic.ncunify, com.spiritoflogic.unifyx, com.hidan.nclink10, org.coolstar.ventana-modern, org.coolstar.ventana
Version: 0.1.4
Architecture: iphoneos-arm
Description: Priority Hub for iOS 11 and 12
Maintainer: Nepeta
Author: Nepeta
Section: Tweaks
